.image{
    margin: 0px;
    display: inline-block;
    width: 320px;
    height: 160px;
    background-image: url("image/cosmoimg.png");
    background-position: center;
    background-size: contain;
}
.image:hover{
    background-image: url("image/imgame.gif");
    background-position: center;
    background-size: contain;
}
.image2{
     margin: 0px;
    display: inline-block;
    width: 128px;
    height: 128px;
    background-image: url("image/Logo.png");
    background-position: center;
    background-size: contain;
}
.image3{
     margin: 0px;
    display: inline-block;
    width: 64px;
    height: 64px;
    background-image: url("image/fon.png");
    background-position: center;
    background-size: contain;
}
.image4{
     margin: 0px;
    display: inline-block;
    width: 128px;
    height: 128px;
    background-image: url("image/IcyLogo.png");
    background-position: center;
    background-size: contain;
}
.button{
    display: inline-block;
    width: 100px;
    height: 24px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}
.button_link{
    text-decoration: none;
    color: black;
}
.button:hover{
    background-color: rgb(193,193,193);
}
ul{
    
    text-align: center;
    padding-left: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
}
h1{
    flex: 1;
    text-align: center;
    padding-right: 80%;
    margin: 0;
}
header{
    position: relative;
    display: flex;
    background-size: contain;
    background-image: url("image/header.png");
    align-items: center;
}
body{
    height: 360px;
    margin: auto;
    background-image: url("image/fonsite.png");
}