.image{
    width: 320px;
    height: 160px;
}
.button{
    margin-left: 100px;
    width: 100px;
    height: 24px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}
.button_link{
    text-decoration: none;
    color: black;
}
ul{
    display: block;
    justify-content: center;
    padding-left: 0px;
}
li{
    list-style-type: none;
}
header{
    display:flex;
    justify-content: center;
}
