.image{
    margin: 0px;
    display: inline-block;
    width: 320px;
    height: 160px;
    background-image: url("image/cosmoimg.png");
    background-position: center;
    background-size: contain;
}
.image:hover{
    background-image: url("image/imgame.gif");
    background-position: center;
    background-size: contain;
}
.button{
    display: inline-block;
    width: 100px;
    height: 24px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}
.button_link{
    text-decoration: none;
    color: black;
}
.button:hover{
    background-color: rgb(193,193,193);
}
ul{
    background-color: gray;
    text-align: center;
    padding-left: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
}
header{
    display: flex;
    background-color:rgb(22, 172, 134);
}
body{
    height: 360px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}